@model IEnumerable<AudioRimacPlayer.DAL.PlayerSong>
@{
    ViewBag.Title = "TopList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-1 col-lg-4"> </div>

    <div id="songs-reload" class="col-xs-10 col-lg-4">
        @Html.Partial("_TopList")
    </div>
    <div class="col-xs-1 col-lg-4"> </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquer-ui")
    @Scripts.Render("~/bundles/jquerunobtrajax")


    <script type="text/javascript">
        $("input").focus();

        function ShowX() {
            $(".song ").hover(
                function () {

                    $(this).css({ "background-color": "#5d5c5c", "border-bottom": "2px solid white" });
                    $(this).children(".song-date").find(".song-date-title").css({ "font-size": "20px" });
                    $(this).children(".song-date").find(".song-date-artist").css({ "font-size": "21px", "color": "#1073fc" });
                    $(this).children(".song-image").find("img").css({ "margin-left": "3px", "margin-bottom": "3px", "margin-top": "0px" });
                    $(this).children(".song-date").find(".btn-removeFromTopList").toggleClass('display-none');

                }, function () {
                    $(this).css({ "background-color": "#323131", "border-bottom": "2px solid #979797" });
                    $(this).children(".song-date").find(".song-date-title").css({ "font-size": "19px" });
                    $(this).children(".song-date").find(".song-date-artist").css({ "font-size": "20px", "color": "#4694ff" });
                    $(this).children(".song-image").find("img").css({ "margin-left": "0px", "margin-bottom": "0px", "margin-top": "3px" });
                    $(this).children(".song-date").find(".btn-removeFromTopList").toggleClass('display-none');



                }
            );
           
        }

        $(".song ").hover(
            function () {

                $(this).css({ "background-color": "#5d5c5c", "border-bottom": "2px solid white" });
                $(this).children(".song-date").find(".song-date-title").css({ "font-size": "20px" });
                $(this).children(".song-date").find(".song-date-artist").css({ "font-size": "21px", "color": "#1073fc" });
                $(this).children(".song-image").find("img").css({ "margin-left": "3px", "margin-bottom": "3px", "margin-top": "0px" });
                $(this).children(".song-date").find(".btn-removeFromTopList").toggleClass('display-none');

            }, function () {
                $(this).css({ "background-color": "#323131", "border-bottom": "2px solid #979797" });
                $(this).children(".song-date").find(".song-date-title").css({ "font-size": "19px" });
                $(this).children(".song-date").find(".song-date-artist").css({ "font-size": "20px", "color": "#4694ff" });
                $(this).children(".song-image").find("img").css({ "margin-left": "0px", "margin-bottom": "0px", "margin-top": "3px" });
                $(this).children(".song-date").find(".btn-removeFromTopList").toggleClass('display-none');



            }
        );

      
    </script>
}