
@{
    ViewBag.Title = "Player";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
}

<h2>Player</h2>

<object type="application/x-shockwave-flash" width="150" height="25" data="https://www.youtube.com/v/cRtv2K7dwzw?version=2&autoplay=1&theme=dark"><param name="movie" value="https://www.youtube.com/v/cRtv2K7dwzw?version=2&autoplay=1&theme=dark"/><param name="wmode" value="transparent"/>
</object>

<div data-video="VIDEO_ID"
     data-autoplay="0"
     data-loop="1"
     id="youtube-audio">
</div>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>