@model AudioRimacPlayer.ViewModel.PlayerViewModel

@using AudioRimacPlayer.ViewModel
@{
    ViewBag.Title = "Player";
    Layout = "~/Views/Shared/_PlayerLayout.cshtml";
    //if (Model.MusicSong != null)
    //{
    //    ViewBag.YouTubeUrl = Model.MusicSong.YouTubeUrl;
    //}
}
<div id="buttons-searching">

    @Html.Partial("_ButtonToSwitch")

</div>

<div id="update">

    @Html.Action("RenderParialView")

</div>
@Html.Partial("_Loading")

@section scripts
{
    <script src="~/Scripts/player/PlayerAjaxFunctions.js" async></script>
    <script type="text/javascript">

        var youtubeVideoUrl = 'DCBmhs4dYzc';
        function LoadPlayer(youtubeVideoUrl) {

            var getJsScripts = "http://localhost:6464/Scripts/player/GetJSScripts.js";

            $.getScript(getJsScripts)
                .done(function(script, textStatus) {
                console.log(textStatus);
                console.log("My Scripts was added");

                })
                .fail(function(jqxhr, settings, exception) {
                    alert("My Scripts wasn't added");
                });
        }

    </script>

}


@section musicscripts{
    @if (@Model.MusicSong != null)
    {

        <script>
            var youtubeVideoUrl = 'DCBmhs4dYzc';
            LoadPlayer(youtubeVideoUrl);

        </script>
    }
}


