@model AudioRimacPlayer.ViewModel.PlayerViewModel

@using AudioRimacPlayer.ViewModel
@{
    ViewBag.Title = "Mobile";
    Layout = "~/Views/Shared/Mobile.cshtml";
   
}

<div id="update">
    

    <input style="color:black" name="search" type="text" />
    <button class="btn btn-primary btn-sm " type="submit">Szukaj</button>
    


</div>




