
@{
    Layout = "~/Views/Shared/_PlayerLayout.cshtml";
}



@section scripts{
    <script>
       var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/player_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
            var player,
                time_update_interval = 0;


            function onYouTubeIframeAPIReady() {
                player = new YT.Player('ytplayer', {
                    width: 0.5,
                    height: 0.5,
                    videoId: 'K6-YIIAZ-gM',
                    playerVars: {
                        autoplay: 1,
                        color: 'white'

                    }
                });
            }
    
    </script>
}

@section musicscripts{
    <script>
        $('#yt-button').click(function() {
            $('#ytplayer').attr({ width: "300px", height: "150px;" });
        });
    </script>
}
@section styles{
    
}


<h2>Odtwarzanie</h2>
<div id="yt" >
<div id="ytplayer"></div>
</div>
<button id="yt-button" class="btn btn-primary">Pokaż</button>

